* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* navbar */
:root {
    --navbar-bg-color: hsl(0, 0%, 15%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.pasteries {
    color: hsl(0, 0%, 15%);
    margin-top: 7%;
    margin-bottom: 2%;
    text-align: center;
}

.container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    --navbar-height: 64px;
    position: fixed;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 100%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar-item {
    margin: 0.4em;
    width: 100%;
}

.home-link,
.navbar-link {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
}

.home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
}

.navbar-logo {
    background-color: var(--navbar-text-color-focus);
    border-radius: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
}

#navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-text-color);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
    transform: rotate(-45deg);
}

#navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
}

#navbar-toggle[aria-expanded="true"]+#navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
}

.navbar-links {
    list-style: none;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"]+#navbar-menu .navbar-links {
    padding: 1em;
}

@media screen and (min-width: 700px) {

    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
        display: none;
    }

    #navbar-menu,
    #navbar-toggle[aria-expanded="true"] #navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    .navbar-links,
    #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
}

/* slider */
.flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 3%;
    flex-wrap: wrap;
    width: 100%;
}

.product-card {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 5%;
}

.product-card img {
    width: 100%;
    height: 100%;
}

.product-title {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product-description {
    font-size: 0.9rem;
    color: #777;
}


/* footer */
footer {
    margin-top: 5%;
}

section {
    padding: 60px 0;
    /* min-height: 100vh;*/
}


.contact-area {
    border-bottom: 1px solid #353C46;
}

.contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
}

.contact-content p::after {
    background: #353C46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

.contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
}

.contact-content span {
    color: #353c47;
    margin: 0 10px;
}

section,
footer {
    background: #1A1E25;
    color: #868c96;
}

footer p {
    padding: 40px 0;
    text-align: center;
}

/* name */


@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600");

:root {
    --bar-scale-y: 0;
    --sparkle-color: rgb(253 244 215 / 40%);
}

@keyframes pop-word {
    to {
        transform: rotateX(0);
    }
}

@keyframes show {
    to {
        opacity: 1;
    }
}

@keyframes bar-scale {
    to {
        transform: scaleY(1);
    }
}

@keyframes sparkle {
    0% {
        transform: scale(0);
    }

    60% {
        transform: scale(1) translate(4px, 1px) rotate(8deg);
    }

    100% {
        transform: scale(0) translate(4px, 1px) rotate(8deg);
    }
}

@keyframes shimmer {
    to {
        text-shadow: 0 0 8px red;
    }
}

.name {
    display: grid;
    height: 100vh;
    background-color: black;
    place-items: center;
}

h1 {
    color: white;
    font-family: "Playfair Display", Vidaloka, serif;
    font-size: 8rem;
    line-height: 0.85;
    perspective: 500px;
}

.word {
    display: block;

    animation: show 0.01s forwards, pop-word 1.5s forwards;
    animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
    opacity: 0;

    transform: rotateX(120deg);
    transform-origin: 50% 100%;
}

.word:nth-of-type(2) {
    padding: 0 2rem;

    animation-delay: 1.5s;

    color: gold;
}

.superscript {
    position: relative;
    animation-delay: 3.6s;

    animation-duration: 0.25s;
    animation-name: shimmer;

    vertical-align: text-top;
}

/* bars */
.superscript::before {
    --bar-width: 25%;

    position: absolute;

    top: 37%;
    left: 47%;
    width: 14%;
    height: 48%;

    animation: bar-scale 0.25s linear 3s 1 forwards;

    background: linear-gradient(to right,
            white var(--bar-width),
            transparent var(--bar-width) calc(100% - var(--bar-width)),
            white calc(100% - var(--bar-width)));

    content: "";

    transform: scaleY(var(--bar-scale-y));
}

/* sparkle */
.superscript::after {
    --size: 10rem;

    position: absolute;

    top: -5%;
    left: -85%;

    width: var(--size);
    height: var(--size);

    animation: sparkle 0.4s linear 3.5s 1 forwards;

    background: radial-gradient(circle at center,
            rgb(252 249 241 / 94%) 0% 7%,
            transparent 7% 100%),
        conic-gradient(transparent 0deg 18deg,
            var(--sparkle-color) 18deg,
            transparent 20deg 40deg,
            var(--sparkle-color) 40deg,
            transparent 43deg 87deg,
            var(--sparkle-color) 87deg,
            transparent 95deg 175deg,
            var(--sparkle-color) 175deg,
            transparent 178deg 220deg,
            var(--sparkle-color) 220deg,
            transparent 222deg 270deg,
            var(--sparkle-color) 270deg,
            transparent 275deg 300deg,
            var(--sparkle-color) 300deg,
            transparent 303deg 360deg);

    border-radius: 50%;
    clip-path: polygon(50% 0,
            59.13% 26.64%,
            85.13% -2.35%,
            100% 50%,
            50% 100%,
            0 50%,
            31.39% 34.86%);

    content: "";

    filter: blur(1px);

    transform: scale(0);
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    .flex {
        flex-direction: column;
    }

    /* sparkle */
    .superscript::after {
        --size: 6rem;
    }
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}